body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  /* overflow: hidden; */
  background-color: rgb(242, 237, 215);
}

.App {
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
}

.App-header {
  font-size: 4vw;
  font-weight: 700;
}

.cards {
  width: 70%;
  gap: 1rem 4rem;
}

p {
  margin-bottom: 0;
}

.card {
  background-color: #084645;
  color: rgb(242, 237, 215);
  padding: 0.7rem 4rem;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(0.8);
}

.email {
  color: #c0c5aa;
}

.user-header a button {
  background-color: #084645;
  outline: none;
  border: none;
  padding: ;
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}
